.items {
  width: 330px;
}
.items p {
  margin: 6px 0px;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.item-price-new {
  color: #374151;
  font-size: 18px;
  font-family: 600px;
}
.item-price-old {
  color: #8c8c8c;
  font-size: 18px;
  font-family: 500px;
  text-decoration: line-through;
}
.item:hover {
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); */
  transform: scale(1.05);
  transition: 0.6s;
}
